VITE_APPWRITE_ENDPOINT=https://appwrite.civeira.net/v1
VITE_APPWRITE_PROJECT_ID=6aa009610009374e3e16
VITE_APPWRITE_DATABASE_ID=warhost
VITE_APPWRITE_BUCKET_ID=army_assets
VITE_APPWRITE_NOTIFY_FUNCTION_ID=notify_verified_user
VITE_APPWRITE_ARMY_FORGE_FUNCTION_ID=army_forge_proxy
